@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ga+Maamli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.content{
  position: relative;
  top: -90px;
  background-color:white;
  width: 81%;
  height: auto;
  border: 15px;
  border-radius: 30px;
  padding: 3.12rem;
  margin: 1.25px;
}
body {
  position: relative;
  margin: 0;
  font-family: poppins;
  background-color: #d9d9d9;
  font-size: 16px;
}
body::before{
  background-color: #d9d9d9;
  display: 100vh;
  display: flex;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}
#indeximg{
  position: relative;
  top:-30px;
  
}
.button{
    position: relative;
    background-color:#757eff;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 30px;
    font-style:bold;
    font-size: 20px;;
    color: white;
    border: none;
    padding: 10px;
    top: -20px;
    cursor: pointer;
    animation:glow 2s infinite;
    font-size: 16px;
}
@keyframes blow {
  0% {
    box-shadow: 0 0 10px #9399f3, 0 0 20px #9399f3, 0 0 30px #9399f3;
  }
  50% {
    box-shadow: 0 0 20px #9399f3, 0 0 40px #9399f3, 0 0 60px #9399f3;
  }
  100% {
    box-shadow: 0 0 10px #9399f3, 0 0 20px #9399f3, 0 0 30px #9399f3;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #9399f3, 0 0 20px #9399f3, 0 0 30px #9399f3;
  }
  50% {
    box-shadow: 0 0 20px #9399f3, 0 0 40px #9399f3, 0 0 60px #9399f3;
  }
  100% {
    box-shadow: 0 0 10px #9399f3, 0 0 20px #9399f3, 0 0 30px #9399f3;
  }
}

.circle {
  background-color: #9399f3;
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  animation: glow 2s infinite;
}



#crcl1{
  height: 170px;
  width: 170px;
  top:0rem;
  left: -43%;
  z-index: -1;
}
#crcl2{
  height: 120px;
  width: 120px;
  top: -9.375rem;
  left:43%;
  z-index: -1;
}
#rounds{
  position: relative;
  top: -20px;
  font-size: 20px;
  text-align: left;
  
}
select {
  position: relative;
  top:-20px;
  width: 85%;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
#indh2{
  text-decoration:solid;
}
#button{
  position: relative;
    background-color:#757eff;
    width: 6.5rem;
    height: 3.125rem;
    border-radius: 30px;
    font-style:bold;
    font-size: 20px;;
    color: white;
    border: none;
    padding: 10px;
    top: -20px;
    cursor: pointer;
    animation:glow 2s infinite;
    font-size: 16px;
}

